@import "tailwindcss";

/* @import "tailwindcss";

  :root {
    --glass: rgba(0, 0, 0, 0.1);
    --bg: #ffffff;
    --text: #111;
  }

  .dark {
    --glass: rgba(255, 255, 255, 0.1);
    --bg: #0d0d0d;
    --text: #f9f9f9;
  }

  body {
    background: var(--bg);
    color: var(--text);
    transition: background 0.3s, color 0.3s;
  } */

/* Tailwind Components */
@layer components {
  .btn {
    @apply bg-[#ff6b6b] border-none text-white px-3.5 py-2.5 rounded-xl cursor-pointer font-bold;
  }
  .btn-secondary {
    @apply bg-transparent border border-[rgba(0,0,0,0.04)] text-white px-3.5 py-2.5 rounded-xl font-semibold;
  }
}

/* Optional modal backdrop */
.modal {
  @apply fixed inset-0 flex items-center justify-center bg-[rgba(2,6,23,0.5)] opacity-0 invisible transition-all duration-150 z-50;
}

.modal.show {
  @apply visible opacity-100;
}